@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --green: #136C4B;
    --blush-beige: #F9E8D3;
    --white: #fff;
    --blog-preview_bg: #fff;
    --card-color: #d2ebd3;
    --font-base: "Poppins", sans-serif;
    --font-heading: "Outfit", sans-serif;
    --font-size-base: 1rem;
    --drop-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */

body {
    font-family: var(--font-base);
    font-size: var(--font-size-base);
}

img {
    max-width: 100%;
}

.container {
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

section {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.flex {
    display: flex;
    gap: 1rem;
}

/* Typography */

h1 {
    font-size: clamp(1.8rem, 3.5vw, 2.5rem);
    padding: 1rem 0rem;
}

h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding: 2rem 0rem;
}

h3 {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    padding: 0rem 1rem 1rem;
}


/* Header */
.site-header {
    padding: 1rem;
    background-color: var(--green);
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: var(--drop-shadow);
    width: 100%;
}

.site-header .flex {
    align-items: center;
    justify-content: space-between;
}

.site-header__logo a {
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 700;
}

.site-header ul {
    list-style: none;
}

.site-header a {
    text-decoration: none;
    color: var(--white);
}

/* Hamburger-menu styling */
#nav-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

#main-nav {
    display: none;
}

#main-nav.show {
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.701);
    animation: hamburger-slide 0.2s ease-out forwards;
}

#main-nav.show a {
    display: block;
    line-height: 2.5rem;
    padding: 1rem 2rem;
}

#main-nav.show a:hover {
    background-color: #b7b7b7;
    color: black;
}

@keyframes hamburger-slide {
    0% {
        opacity: 0;
        transform: translateX(400px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Footer */

.site-footer {
    background-color: black;
    color: var(--white);
    padding: 1rem 0;
}

/* Hero-section */

.hero-section {
    background-image: url(/images/background-pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
}

.hero-section .grid {
    padding: 3rem;
}

.hero-section__text,
.hero-section__img {
    grid-column: auto;
}

/* Intro-section */
.intro-section {
    padding: 2rem;
    background-color: var(--blush-beige);
    padding: 3rem;
}

.intro-section .container .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#intro-2 .flex {
    flex-direction: row-reverse;
}

.intro-section img {
    padding: 1rem;
    aspect-ratio: 1 /1;
    border-radius: 50%;
    max-width: 200px;
}

.fade-in-up,
.fade-in-left,
.fade-in-right {
    opacity: 0;
}

.fade-in-up.visible {
    animation: fade-in-up 0.8s ease-out forwards;
    animation-delay: 0.2s;
}

.fade-in-left.visible {
    animation: fade-in-left 0.8s ease-out forwards;
    animation-delay: 0.2s;
}

.fade-in-right.visible {
    animation: fade-in-right 0.8s ease-out forwards;
    animation-delay: 0.2s;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-left {

    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-in-right {

    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Blog previews */

.blog-previews {
    padding: 5rem;
    background-color: var(--blog-preview_bg);
}

.blog-previews h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    background-color: var(--card-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--drop-shadow);
}

.card p {
    padding: 0 1rem;
}

.thumbnail {
    width: auto;
    height: 200px;
    object-fit: cover;
    background-size: cover;
    margin: 1rem;
}

.card-content {
    padding: 1rem;
}

.btn-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.issue-date {
    font-size: 0.8rem;
    font-weight: 200;
}

.btn {
    background-color: black;
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
}


@media screen and (min-width:768px) {

    /* base */

    .grid {
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
    }

    /* Navigation-bar */

    #main-nav.show {
        all: unset;
        display: block;
    }

    #main-nav {
        display: block;
        margin-top: 2rem;
    }

    #main-nav ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;

    }

    .nav__link {
        position: relative;
        display: inline-block;
    }

    .nav__link:hover {
        color: #000000;
        position: relative;
    }

    .nav__link::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: orange;
        left: 0;
        bottom: -1rem;
        pointer-events: none;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .nav__link:hover::before {
        transform: scaleX(1);
    }

    #nav-button {
        display: none;
    }

    /* Hero-section */

    .hero-section {
        width: 100vw;
        height: 100vh;
    }

    .hero-section .grid {
        margin-top: -5rem;
        height: 100vh;

    }

    .hero-section__img {
        grid-column: 7 /span 6;
    }

    .hero-section__text {
        grid-column: 1/ span 5;
    }

    /* Intro-section */

    .intro-section {
        padding: 3rem;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 5rem;
    }


    #intro-2 .flex {
        flex-direction: row-reverse;
    }

    .intro-section__text {
        max-width: 500px;
        padding: 1rem 2rem;
    }

    .intro-section img {
        aspect-ratio: 1 /1;
        border-radius: 50%;
        max-width: 250px;
    }


    /* Blog previews */

    .blog-previews .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

}

@media screen and (min-width:1200px) {

    /* Blog-previews */

    .blog-previews .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 2rem;
    }

    .card {
        grid-column: span 4;
    }
}