* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* navigation */
header {
  position: sticky;
  top: 0;
  padding: 2rem 3rem;
  color: #ffffff;
  background-color: rgb(14, 93, 17);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header h1 {
  text-align: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#nav-button {
  font-size: 1.5rem;
  display: none;
}

/* hero-section */
.container {
  background-color: antiquewhite;
  height: 750px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
}

.container img {
  width: 40%;
  min-width: 400px;
}

.hero-text {
  font-family: sans-serif;
  margin-left: 30px;
  font-size: 28px;
}


.intro-section {
  background-color: rgb(245, 255, 225);
  padding: 50px;
}

/* intro section 1 */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 5rem;
}

.grid .text {
    grid-column: 2 / span 5;
}


.grid .intro-image {
  grid-column: 8 / span 5;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.grid.reverse .intro-image {
    grid-column: 2 / span 5;
  }
  .grid.reverse .text {
    grid-column: 7 / span 5;
  }

/* intro section 2 */


/* latest blog card section */

.latest-blogs h1 {
  text-align: center;
  padding: 4rem;
  font-size: 32px;
}

.card-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  place-items: center;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  margin: 20px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 1rem 2rem;
}

.card-content h2 {
  font-size: 24px;
  margin-bottom: 2rem;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  background-color: black;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
}

@media (max-width: 768px) {

    /* navigation */
    .header-top {
        display: flex;
        gap: 9rem;
      }
    
      #nav-button {
        display: block;
        color: #fff;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
      }
    
      nav ul {
        display: none;
      }
    
      nav.show ul {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
      }

      /* hero-section */
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    
      .container img {
        width: 50%;
        min-width: 450px;
      }
    
      .hero-text {
        text-align: center;
        font-size: 18px;
      }
}


/* animation */
/* @keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 1.5s ease-out forwards;
}

.fadeInRight {
  animation: fadeInRight 1.5s ease-out forwards;
} */
